<div class="row mt-0">
  {{#if user.isAdmin}}
    <div>
      <button class="btn btn-outline-primary btn-sm mb-3 ">
        <a href="/portfolio/create" class="nav-link p-0 ">+ Add</a>
      </button>
    </div>
  {{/if}}
  {{#each work}}
    <div class="col-md-4 " style="width: 20rem; ">
      <div class=" work card mb-4 shadow ">
          <img class="card-img-top" src ="{{this.pic}}" alt="Card image cap" width="286px" height="180px"
            style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
        <div class="card-body secondary ">
          <h4 class="card-text">
              {{this.title}}
          </h4>
        </div>
        <div class="card-body d-flex justify-content-end p-0 mb-2 mx-2">
          {{#if ../user.isAdmin}}
            <form action="/portfolio/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-outline-danger m-1 btn-sm" onclick="return confirm(`Sure you want to delete {{ this.title}}？`)">Delete</button>
            </form>
            <a href="/portfolio/{{this.id}}/edit" class="btn btn-outline-secondary m-1 btn-sm" role="button" aria-disabled="true">Edit</a>
          {{/if}}
          <button class="btn btn-outline-secondary m-1 btn-sm" role="button" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#show{{this.id}}">More</button>
        </div>
      </div>
      {{>workInfo}}
    </div>
  {{/each}}
</div>

